[%site_value id:'footer_javascript'%]
	<script type="text/javascript" language="javascript">
		$(document).ready(function() {
			$.product_variationInit({
				'loadtmplates': ['_buying_options', '_images','_header', '_shipping_calc', '_product_reviews'],
				'fns' : {
					'onLoad' : function () {
						$('.addtocart').button("loading");
						$('.variation-wrapper').addClass('disable-interactivity');
					},
					'onReady' : function () {
						$('.addtocart').button("reset");
						$('.zoom').zoom();
						$('.variation-wrapper').removeClass('disable-interactivity');
						[%if [@has_variation@] || ![@has_child@] AND ![@has_components@]%]
							[%if [@config:show_shipping_calc@] and [@config:shipping_calculator_type@] eq 'suburb_selector'%]
								productShippingCalc.suburbSelectorInit();
							[%/if%]
						[%/if%]
						setTimeout(function() {
							$('.slick-main-img').slick({
								slidesToShow: 1,
								slidesToScroll: 1,
								arrows: true,
								fade: true,
								infinite: true,
								asNavFor: '.slick-product-nav',
								nextArrow: '<i class="fa fa-angle-right"></i>',
								prevArrow: '<i class="fa fa-angle-left"></i>',
								responsive: [
									{
										breakpoint: 991,
										settings: {
											//xs view settings for main image
											swipe: true,
											swipeToSlide: true,
										}
									}
								]
							});
							$('.slick-product-nav').slick({
								slidesToShow: 4,
								slidesToScroll: 1,
								asNavFor: '.slick-main-img',
								dots: false,
								arrows: true,
								nextArrow: '<i class="fa fa-angle-down"></i>',
								prevArrow: '<i class="fa fa-angle-up"></i>',
								vertical: true,
								verticalSwiping: true,
								focusOnSelect: true,
								responsive: [
									{
										breakpoint: 991,
										settings: {
											//xs view settings for nav
											slidesToShow: 4,
											slidesToScroll: 1,
											vertical: false,
											verticalSwiping: false,
											focusOnSelect: true
										}
									}
								]
							});
					    $('.nCustom-slick-all').hide().css('visibility','visible').fadeIn('slow');
					    }, 200);
						
						setTimeout(function(){$('.slick-main-img, .slick-product-nav').slick('refresh');}, 300);
					},
				}
			});
			[%if [@has_components@]%]
				$.kit_variationInit({});
			[%/if%]
		});
		[%if [@has_variation@] || ![@has_child@] AND ![@has_components@]%]
            [%if [@config:show_shipping_calc@] and [@config:shipping_calculator_type@] eq 'suburb_selector'%]
                var productShippingCalc = {
                    // Checks if shipping calculator is in the DOM
                    hasShippingCalc: function(id){
                        if(!id) { id = '#shipbox'; }
                        if($(id).length > 0){
                            return true;
                        }
                        return false;
                    },
                    suburbSelectorInit: function(){
                        var hasShippingCalc = productShippingCalc.hasShippingCalc();
                        if(hasShippingCalc){
                            $.postcode_selectorInit({
                                'id':'ship_selector',
                                'country_id':'ship_country',
                                'city_id':'ship_city',
                                'state_id':'ship_state',
                                'zip_id':'ship_zip'
                            });
                        }
                    }
                }
                $(document).ready(function(){
                    productShippingCalc.suburbSelectorInit();
                });
            [%elseif [@config:show_shipping_calc@] and [@config:shipping_calculator_type@] eq 'suburb_search'%]
                $.postcode_selectorInit({
                    'id':'ship_selector',
                    'country_id':'ship_country',
                    'city_id':'ship_city',
                    'state_id':'ship_state',
                    'zip_id':'ship_zip',
                    'page' : {
                        'header': '<ul class="_sh_post_sel dropdown-menu" style="display:block">',
                        'body': '<li class="dropdown"><a class="dropdown-item" href="javascript:##script##">##city## (##zip##)</a></li>',
                        'footer': '</ul>'
                    },
                    'items_returned': 25
                });
            [%/if%]
        [%/if%]
	</script>
	<script type="text/javascript" src="//cdn.neto.com.au/assets/neto-cdn/zoom/1.4/jquery.zoom-min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.zoom').zoom();
		});
	</script>
	<script>
		$(document).ready(function(){
			$("li[role='tab']").click(function(){
				$("li[role='tab']").attr("aria-selected","false"); //deselect all the tabs
			 	$(this).attr("aria-selected","true");  // select this tab
				var tabpanid= $(this).attr("aria-controls"); //find out what tab panel this tab controls
			   var tabpan = $("#"+tabpanid);
				$("div[role='tabpanel']").attr("aria-hidden","true"); //hide all the panels
				tabpan.attr("aria-hidden","false");  // show our panel
			 });
		})
		$('#_jstl__buying_options').on('click', '.wishlist_toggle', function(e){e.preventDefault();})
	</script>

	<!--Slick-->
	<script>
	$('.slick-main-img').slick({
		slidesToShow: 1,
		slidesToScroll: 1,
		arrows: true,
		fade: true,
		infinite: true,
		asNavFor: '.slick-product-nav',
		nextArrow: '<i class="fa fa-angle-right"></i>',
		prevArrow: '<i class="fa fa-angle-left"></i>',
		responsive: [
			{
				breakpoint: 991,
				settings: {
					//xs view settings for main image
					swipe: true,
					swipeToSlide: true
				}
			}
		]
	});
	$('.slick-product-nav').slick({
		slidesToShow: 4,
		slidesToScroll: 1,
		asNavFor: '.slick-main-img',
		dots: false,
		arrows: true,
		nextArrow: '<i class="fa fa-angle-down"></i>',
		prevArrow: '<i class="fa fa-angle-up"></i>',
		vertical: true,
		verticalSwiping: true,
		focusOnSelect: true,
		responsive: [
			{
				breakpoint: 991,
				settings: {
					//xs view settings for nav
					slidesToShow: 4,
					slidesToScroll: 1,
					vertical: false,
					verticalSwiping: false,
					focusOnSelect: true

				}
			}
		]
	});
	</script>

	<!-- Quantity Field -->
	<script>
		$(document).on('click', '.quantity-field a', function(e) {
			e.preventDefault();
			var vals = $('input.form-control.qty').val();
			var $max = 100;
			if (typeof $('input.form-control.qty').attr('max') != 'undefined') {
					$max = parseInt($('input.form-control.qty').attr('max'));
			}
			if ($(this).hasClass('qty-minus')) {
					vals = parseInt(vals) + 1;
			} else if (vals > 1) {
					vals = parseInt(vals) - 1;
			}
			if (vals > $max)
					vals = $max;
			var vals = $('input.form-control.qty').val(vals);
		});
	</script>

[%/site_value%]
