[%load_template file:"products/includes/quick_view_product_scripts.template.html"/%]
<!-- to set child product -->
[%if [@has_child@]%]
	[%set [@child_product_sku@] %][%display_child_products id:'[@sku@]'  sortby:'sortorder,name' limit:'1'%][%param *body%][@sku@][%/param%][%/display_child_products%][%/set%]
[%/if%]
<div class="row main-quickview-popup">
	<div class="col-md-12">
		<div class="row" itemscope itemtype="http://schema.org/Product">
			<section class="col-xs-12 col-sm-12 [%if [@has_components@]%]col-md-6[%else%]col-md-7[%/if%]" role="contentinfo" aria-label="Product images">
				<meta itemprop="brand" content="[@brand@]"/>
				[%load_ajax_template id:'_images_quick_view' type:'item' template:'quick_view_images' preload:'1' tmpl_sku:'[@current_sku@]' tmpl_preview:'y'/%]
			</section>

			<section class="col-xs-12 col-sm-12 [%if [@has_components@]%]col-md-6[%else%]col-md-5[%/if%]" role="contentinfo" aria-label="Products information">
				<!-- Product Name -->
				<div class="wrapper-product-title">
					[%brand id:'[@brand@]'%]
						[%param *body%]
							<div class="product-brand">
								<a title="[@brand@]" href="[%url type:'brand' id:'[@brand@]'/%]" class="product-brands">[@brand@]</a>
							</div>
						[%/param%]
					[%/brand%]
					<h1 itemprop="name" aria-label="Product Name">[%if [@^name@]%][@^name@][%else%][@name@][%/if%]</h1>
					<h3 aria-label="Product Subtitle">[%if [@^subtitle@]%][@^subtitle@][%else%][@subtitle@][%/if%]</h3>
				</div>
				[%load_ajax_template id:'_header_quick_view' type:'item' template:'header' preload:'1' tmpl_sku:'[@current_sku@]' tmpl_preview:'y'/%]
				<!-- child products -->
				[%load_template file:"products/includes/quick_view_child_products.template.html"/%]
				[%if [@has_variation@] || ![@has_child@] AND ![@has_components@]%]
					<!-- addtocart functionality -->
					[%load_ajax_template id:'_buying_options_quick_view' type:'item' template:'quick_view_buying_options' preload:'1' tmpl_sku:'[@current_sku@]' tmpl_preview:'y'/%]
				[%/if%]
				[%if [@has_components@]%]
					<!-- kit components -->
					<div class="row">
						[%load_template file:"products/includes/components.template.html"/%]
					</div>
				[%/if%]

				<!-- Product Info -->
				<!-- Accordion -->
				<div class="panel-group panel-product-details" id="productaccordion" role="tablist" aria-multiselectable="true">
				  [%if [@description@]%]
				  <div class="panel panel-default">
				    <div class="panel-heading" id="product1">
				        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#productaccordion" href="#productcollapse100" aria-expanded="true" aria-controls="productcollapse100">
				          Details
				        </a>
				    </div>
				    <div id="productcollapse100" class="panel-collapse collapse" role="tabpanel" aria-labelledby="product1">
				      <div class="panel-body">
				        [@description@]
				      </div>
				    </div>
				  </div>
				  [%/if%]
				  [%if [@warranty@]%]
				  <div class="panel panel-default">
				    <div class="panel-heading" id="product2">
				        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#productaccordion" href="#productcollapse200" aria-expanded="true" aria-controls="productcollapse200">
				          Warranty
				        </a>
				    </div>
				    <div id="productcollapse200" class="panel-collapse collapse" role="tabpanel" aria-labelledby="product2">
				      <div class="panel-body">
				        [@warranty@]
				      </div>
				    </div>
				  </div>
				  [%/if%]
				  [%if [@features@]%]
				  <div class="panel panel-default">
				    <div class="panel-heading" id="product3">
				        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#productaccordion" href="#productcollapse300" aria-expanded="true" aria-controls="productcollapse300">
				          Features
				        </a>
				    </div>
				    <div id="productcollapse300" class="panel-collapse collapse" role="tabpanel" aria-labelledby="product3">
				      <div class="panel-body">
				        [@features@]
				      </div>
				    </div>
				  </div>
				  [%/if%]

				  <div class="panel panel-default">
				    <div class="panel-heading" id="product5">
				        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#productaccordion" href="#productcollapse500" aria-expanded="true" aria-controls="productcollapse500">
				          Specifications
				        </a>
				    </div>
				    <div id="productcollapse500" class="panel-collapse collapse" role="tabpanel" aria-labelledby="product5">
				      <div class="panel-body">
						  <!-- Brochure Download -->
						  [%thumbnails id:'[@SKU@]' check_parent:'y'%]
					      [%param *brochure%]
					          <div class="brochure">
					              <a class="btn btn-default btn-sm" href="[@file@]" target="_blank" rel="noopener">
					                  <i class="fa fa-download"></i> Download PDF Brochure
					              </a>
					          </div>
					      [%/param%]
					      [%/thumbnails%]
				        <table class="table">
				          <tbody>
				            <tr>
				              <td><strong>SKU</strong></td>
				              <td>[@SKU@]</td>
				            </tr>
				            [%if [@manufacturer_model@]%]
				            <tr>
				              <td><strong>Model #</strong></td>
				              <td>[@manufacturer_model@]</td>
				            </tr>
				            [%/if%]
				            [%if [@barcode@]%]
				            <tr>
				              <td><strong>Barcode #</strong></td>
				              <td>[@barcode@]</td>
				            </tr>
				            [%/if%]
				            [%if [@brand@]%]
				            <tr>
				              <td><strong>Brand</strong></td>
				              <td>[@brand@]</td>
				            </tr>
				            [%/if%]
				            [%item_specifics id:'[@sku@]'%]
				            [%param *body%]
				            <tr>
				              <td><strong>[@itmspec_name@]</strong></td>
				              <td>[@itmspecval_value@]</td>
				            </tr>
				            [%/param%]
				            [%/item_specifics%]
				            [%if [@weight@] > '0'%]
				            <tr>
				              <td><strong>Shipping Weight</strong></td>
				              <td>[@weight@]kg</td>
				            </tr>
				            [%/if%]
				            [%if [@width@] > '0'%]
				            <tr>
				              <td><strong>Shipping Width</strong></td>
				              <td>[@width@]m</td>
				            </tr>
				            [%/if%]
				            [%if [@height@] > '0'%]
				            <tr>
				              <td><strong>Shipping Height</strong></td>
				              <td>[@height@]m</td>
				            </tr>
				            [%/if%]
				            [%if [@length@] > '0'%]
				            <tr>
				              <td><strong>Shipping Length</strong></td>
				              <td>[@length@]m</td>
				            </tr>
				            [%/if%]
				            [%if [@cubic@] > '0'%]
				            <tr>
				              <td><strong>Shipping Cubic</strong></td>
				              <td>[@cubic@]m3</td>
				            </tr>
				            [%/if%]
				            [%if [@unit@]%]
				            <tr>
				              <td><strong>Unit Of Measure</strong></td>
				              <td>[@unit@]</td>
				            </tr>
				            [%/if%]
				            [%if [@actual_length@] > '0'%]
				            <tr>
				              <td><strong>Assembled Length</strong></td>
				              <td>[@actual_length@]m</td>
				            </tr>
				            [%/if%]
				            [%if [@actual_height@] > '0'%]
				            <tr>
				              <td><strong>Assembled Height</strong></td>
				              <td>[@actual_height@]m</td>
				            </tr>
				            [%/if%]
				            [%if [@actual_width@] > '0'%]
				            <tr>
				              <td><strong>Assembled Width</strong></td>
				              <td>[@actual_width@]m</td>
				            </tr>
				            [%/if%]
				            [%if [@product_type@]%]
				            <tr>
				              <td><strong>Type</strong></td>
				              <td>[@product_type@]</td>
				            </tr>
				            [%/if%]
				            [%if [@format@]%]
				            <tr>
				              <td><strong>Format</strong></td>
				              <td>[@format@]</td>
				            </tr>
				            [%/if%]
				          </tbody>
				        </table>
				      </div>
				    </div>
				  </div>
				</div>


				[%if [@form:disable_scripts@] ne 'true'%][%tracking_code type:'ProductDescription' /%][%/if%]
				[%discount_products id:'[@SKU@]' template:'' show_all:'1' limit:'100'%]
					[%param header%]
					<section class="bonus">
						<div class="alert alert-success">
							<h3>BONUS ITEMS</h3>
							<p>Buy [@name@] today &amp; receive these for FREE!</p>
								<div class="row">
						[%/param%]
						[%param *body%]
								<div class="col-xs-12">
									<div class="thumbnail row">
										<div class="col-sm-4">
											<a href="[%url type:'item ' id:'[@SKU@]'/%]" class="thumbnail-image">
												<img src="[@thumb@]" alt="[@name@]">
											</a>
										</div>
										<div class="col-sm-8 caption">
											<h3 class="title">
												<a href="[%URL type:'item' id:'[@SKU@]'/%]">[%format type:'text' maxlength:'150' rmhtml:'1'%][@name@][%/FORMAT%]</a>
											</h3>
											<div class="text-success"><strong>FREE</strong> With This Item!</div>
										</div>
									</div>
								</div>
						[%/param%]
						[%param footer%]
							</div>
						</div>
					</section>
					[%/param%]
				[%/discount_products%]

				[%free_gifts id:'[@SKU@]'%]
					[%param *header%]
						<section class="freebies">
							<div class="alert alert-success">
								<h3>FREE GIFT</h3>
								[%if [@total_gifts@] > 1%]
									<p>Buy [@name@] today and choose from one of these FREE gifts!</p>
								[%else%]
									<p>Buy [@name@] today and get this FREE gift!</p>
								[%/if%]
								<br>
								<div class="row">
						[%/param%]
						[%param *body%]
								<div class="col-xxs-12 col-xs-6">
									<div class="thumbnail row">
										<div class="col-xs-4">
											<a href="[%url type:'item ' id:'[@SKU@]'/%]" class="thumbnail-image">
												<img src="[@thumb@]" alt="[@name@]">
											</a>
										</div>
										<div class="col-xs-8 caption text-left">
											<h3><a href="[%URL type:'item' id:'[@SKU@]'/%]">[%format type:'text' maxlength:'150' rmhtml:'1'%][@name@][%/FORMAT%]</a></h3>
											<strong>Worth [%FORMAT type:'currency'%][@store_price@][%/FORMAT%]</strong>
										</div>
									</div>
								</div>
						[%/param%]
						[%param *footer%]
								</div>
							</div>
						</section>
					[%/param%]
				[%/free_gifts%]
			</section>
		</div>

	</div><!--/.col-xs-12-->
</div><!--/.row-->
